body.game-body{
    margin: 0;
}

div.game-wrapper {
	-webkit-box-sizing: border-box; /* Webkit系用 */
	-moz-box-sizing: border-box;     /* Firefox用 */
	box-sizing: border-box;           /* 標準 */
	max-width: 960px;
	height: 100vh;
	max-height: 800px;
	margin: auto auto;
	padding: 10px;
	background: lightgray;
	position: relative;
}

#quiz-game-main-section div.quit-button{
    position: absolute;
    right: 110px;
    top: 10px;
    width: 50px;
    height: 30px;
    line-height: 30px;
    background-color: azure;
    text-align: center;
    display: none;
}

#quiz-game-main-section div.skip-button{
    position: absolute;
    right: 10px;
    top: 10px;
    width: 90px;
    height: 30px;
    line-height: 30px;
    background-color: lightpink;
    text-align: center;
    display: none;
}


#quiz-game-main-section ul.problem-choices{
	position: absolute;
	bottom: 0;
	padding:0; 
	width: 90%;
	-webkit-box-sizing: border-box; /* Webkit系用 */
	-moz-box-sizing: border-box;     /* Firefox用 */
	box-sizing: border-box;           /* 標準 */
}

#quiz-game-main-section ul.problem-choices li{
	display: flex;
	width: 100%;
	background: beige;
	height: 40px;
	margin: 10px;
	align-items: center;
	padding-left: 10px;
	-webkit-box-sizing: border-box; /* Webkit系用 */
	-moz-box-sizing: border-box;     /* Firefox用 */
	box-sizing: border-box;           /* 標準 */
}

#quiz-game-main-section ul.problem-choices li.wrong_choice{
    background: lightcoral;
}

#quiz-game-main-section ul.problem-choices li.right_choice{
    background: lightgreen;
}

p.problem-statement > strong{
	text-decoration: underline;
}

p.problem-statement > span.statement-source{
    color: gray;
    font-size: 80%;
}

ul.problem-choices span.choice-index-mark{
    margin-left: -5px;
    margin-right: 5px;
    transform: scale(0.77, 1);
    font-weight: bold;
}


p.answer-statement > strong{
	color: darkred;
}

p.error-message { 
    color: red;
}
p.system-message {
    margin: 0;
    text-align: center;
    font-size : 70%;
}

div.progress-bar {
    height: 5px;
    background: darkgray;
}

div.progress-bar-colored {
    height: 100%;
    width: 0%;
    background: Chartreuse;
}

.template{
    display: none;
}